$DefaultFontColor: rgba(33, 33, 33, 1);
$SecondaryFontColor: rgba(255, 255, 255, 1);
$DefaultFontFamily: 'Roboto', sans-serif;
$SecondaryFontFamily: 'Raleway', sans-serif;
$HoverColor: rgb(33, 150, 243);
$ClickablesColor: rgba(117, 117, 117, 1);
