.button {
  background-color: $background-color_6;
  color: $color_7;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  line-height: 1.9;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0rem 0.24rem 0.25rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    background-color: $background-color_7;
  }
  &:focus {
    background-color: $background-color_7;
  }
}

.button--order-button {
  padding: 0.63rem 2.56rem 0.63rem 2.63rem;
  margin-bottom: 6.63rem;
  margin-left: 31.2rem;
}
