.our-team {
  background-color: $DefaultBackgroundColor;
}

.team-members-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.63rem;
  padding-bottom: 1.88rem;
  background-color: $SecondaryFontColor;
  box-shadow: 0rem 0.06rem 0.19rem rgba(0, 0, 0, 0.12), 0rem 0.06rem 0.06rem rgba(0, 0, 0, 0.14),
    0rem 0.13rem 0.06rem rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.team-members-card__image {
  display: block;
  margin-bottom: 1.25rem;
}

.team-members-card__name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

.team-members-card__job {
  color: $ClickablesColor;
  font-size: 1rem;
  line-height: 1.17;
  letter-spacing: 0.03rem;
}

.social-links__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
  cursor: pointer;
  &:hover {
    background-color: $HoverColor;
    .instagram-icon {
      fill: $SecondaryFontColor;
    }
    .twitter-icon {
      fill: $SecondaryFontColor;
    }
    .facebook-icon {
      fill: $SecondaryFontColor;
    }
    .linkedin-icon {
      fill: $SecondaryFontColor;
    }
  }
}

.instagram-icon {
  fill: $SocialLinkColor;
  &:hover {
    fill: $SecondaryFontColor;
  }
}

.twitter-icon {
  fill: $SocialLinkColor;
  &:hover {
    fill: $SecondaryFontColor;
  }
}

.facebook-icon {
  fill: $SocialLinkColor;
  &:hover {
    fill: $SecondaryFontColor;
  }
}

.linkedin-icon {
  fill: $SocialLinkColor;
  &:hover {
    fill: $SecondaryFontColor;
  }
}

.social-links__list {
  justify-content: space-between;
  column-gap: 0.63rem;
  margin-top: 0.38rem;
}
