.header-style {
  justify-content: flex-start;
}

.header {
  padding: 1.5rem 0rem 1.563rem;
  border-bottom: 0.06rem solid rgb(236, 236, 236);
}

.header-mail-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.63rem;
  &:hover {
    .header-mail-section__envelope-icon {
      fill: $HoverColor;
    }
    .header-mail-section__link {
      color: $HoverColor;
    }
  }
  &:has(> .header-mail-section__link:focus) {
    .header-mail-section__envelope-icon {
      fill: $HoverColor;
    }
  }
}

.header-tel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.63rem;
  &:hover {
    .header-tel-section__smartphone-icon {
      fill: $HoverColor;
    }
    .header-tel-section__link {
      color: $HoverColor;
    }
  }
  &:has(> .header-tel-section__link:focus) {
    .header-tel-section__smartphone-icon {
      fill: $HoverColor;
    }
  }
}

.header-mail-section__link {
  color: $ClickablesColor;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
  margin-right: 1.9rem;
  &:focus {
    color: $HoverColor;
  }
}

.header-tel-section__link {
  color: $ClickablesColor;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
  &:focus {
    color: $HoverColor;
  }
}

.header-mail-section__envelope-icon {
  fill: rgba(117, 117, 117, 1);
  cursor: pointer;
  transition-property: fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
}

.header-tel-section__smartphone-icon {
  fill: rgba(117, 117, 117, 1);
  cursor: pointer;
  transition-property: fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
}

.main-nav {
  flex: 1;
}

.main-nav__list {
  justify-content: flex-start;
  column-gap: 2.9rem;
}

.main-nav__link {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.03;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
  &:hover {
    color: $HoverColor;
  }
  &:focus {
    color: $HoverColor;
  }
}

.main-nav__item--is-active {
  .main-nav__link {
    color: $HoverColor;
  }
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 2.84rem;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 0.25rem;
    background-color: $HoverColor;
    border-radius: 0.13rem;
  }
}
